.primary-orange-btn {
  color: var(--clr-gruv-orange);
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-gruv-orange); 
  border-radius: var(--b-radius);
  font-size: var(--f-xm);
  cursor: pointer;
  transition: all ease 0.25s;
}

.primary-orange-btn:hover{
  background-color: rgba(214, 93, 14, 0.15);
}

.primary-orange-btn:active {
  border: 2px solid var(--clr-gruv-orange); 
}
