*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --clr-gruv-bg: #282828;
  --clr-gruv-red: #cc241d;
  --clr-gruv-green: #98971a;
  --clr-gruv-yellow: #d79921
  --clr-gruv-blue: #458588;
  --clr-gruv-purple: #b16286;
  --clr-gruv-aqua: #689d6a;
  --clr-gruv-gray: #a89984;
  --clr-gruv-orange: #d65d0e;
}
