@font-face {
  font-family: "MemphisRiver";
  src: url(/MemphisRiver.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-padding-top: var(--navbar-scroll-offset); /* height of navbar + space */
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  /* gruv */
  --clr-gruv-bg: #282828;
  --clr-gruv-bg-dark: #232323;
  --clr-gruv-red: #cc241d;
  --clr-gruv-orange: #d65d0e;
  --clr-gruv-green: #98971a;
  --clr-gruv-yellow: #d79921;
  --clr-gruv-blue: #458588;
  --clr-gruv-purple: #b16286;
  --clr-gruv-aqua: #689d6a;
  --clr-gruv-gray: #a89984;
  --clr-gruv-gray-opacity: rgba(168, 153, 132, 0.5);
  /* general */
  --clr-light-gray: rgb(199, 199, 204);
  --clr-medium-gray: rgb(72, 72, 74);
  --clr-tooltip: rgba(0, 0, 0, 0.5);
  /* layout */
  --sidebar-width: 15vw;
  --sidebar-height: 100vh;
  --navbar-width: 85vw;
  --navbar-height: 10vh;
  --navbar-scroll-offset: 15vh; /* on page links */
  --layout-border: 1px solid var(--clr-gruv-gray-opacity);
  /* icons */
  --icon-s: 30px;
  --icon-m: 40px;
  /* misc */
  --b-radius: 5px;
  --transition-f: all ease 0.15s;
  --transition-s: all ease 0.25s;
  /* fonts */
  --f-s: 20px;
  --f-xs: 1.25rem;
  --f-m: 1.5rem;
  --f-xm: 1.75rem;
  --f-l: 2rem;
  --f-ll: 2.5rem;
  --f-xl: 3rem;
}

body {
  background-color: var(--clr-gruv-bg);
  color: var(--clr-gruv-gray);
}

/* GENERAL COLORS CLASS */
.red {
  color: var(--clr-gruv-red);
}

.orange {
  color: var(--clr-gruv-orange);
}

.green {
  color: var(--clr-gruv-green);
}

.yellow {
  color: var(--clr-gruv-yellow);
}

.blue {
  color: var(--clr-gruv-blue);
}

.purple {
  color: var(--clr-gruv-purple);
}

.aqua {
  color: var(--clr-gruv-aqua);
}
