nav {
  width: var(--navbar-width);
  height: var(--navbar-height);
  margin-left: var(--sidebar-width);
  padding: 0 2.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  background-color: var(--clr-gruv-bg);
  z-index: 1;
}

.question {
  position: absolute;
  bottom: 5%;
  left: 10%;
  font-size: var(--f-xl);
  font-family: "MemphisRiver";
  font-style: italic;
}

.links {
  margin: 0 2.5%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border-bottom: var(--layout-border);
}

.links a {
  font-size: var(--f-m);
  margin: 0 2.5%;
  padding: 2.5% 0;
}

.links a span {
  opacity: 0;
  font-size: var(--f-xm);
  font-weight: bold;
}

.links a:hover span {
  opacity: 0.75;
  transition: --transition-f;
}

