---
import ContentLayout from "../../layouts/ContentLayout.astro";
import { Icon } from "astro-icon/components";
interface Props {
  linkName: string;
}
const { linkName } = Astro.props as Props;
---

<ContentLayout>
  <p id={linkName} class="decorator" slot="before">
    const ABOUT = (person: problems[ ]) =&gt &#123
  </p>
  <div class="middle" slot="middle">
    <div class="text text-right">
      <p>
        <span class="orange">Hi there</span>, nice to meet you! Welcome to my
        IDE, this is what I see for 15 hours a day: <span class="yellow"
          ><a
            href="https://github.com/morhetz/gruvbox"
            target="_blank"
            rel="noopener noreferrer">#gruv</a
          ></span
        >.
      </p>
      <p>
        I hold a bacheloer degree in <span class="aqua">Computer Science</span> and
        I'm studying to acquire CompTIA+ <span class="aqua"
          >Secuirty certifications</span
        >. Here you can find a nice <span class="purple">TLDR</span>, but in the
        upper right corner you can also download my CV.
      </p>
      <p>
        <span style="font-style:italic" class="purple">Languages:</span> TS, Rust,
        C++, Python, Kotlin.
        <span style="font-style:italic" class="purple">Experience:</span> Everything
        JS related, .NET, EF, Cryptography, Docker, Kubernetes, ArgoCD, Jenkins,
        DataDog, Redis, Kafka, ElasticSearch, PostgreSQL, MongoDB, Spring Boot, OAuth,
        CI/CD, Linux and IIS.
        <span style="font-style:italic" class="purple">Cloud:</span> Azure, AWS.
        <span style="font-style:italic" class="purple">AI:</span> OpenAI, OpenAI
        Assistants API, RAG pipelines, MCP, TensorFlow, ML, NLP.
        <span style="font-style:italic" class="purple">WEB3:</span> Solidity, Web3.js,
        Hardhat, Truffle, OpenZeppelin, Infuria, MetamaskSDK, ERC-20, ERC-721(A),
        ERC-1155, zk.
      </p>
    </div>
    <div class="img">
      <img alt="profile picture" src="/images/lore-dk.jpeg" />
    </div>
  </div>
  <div class="middle" slot="middle">
    <div class="img">
      <img alt="profile picture" src="/images/stand.jpeg" />
    </div>
    <div class="text text-left">
      <p>
        I don't always work like this, but this picture really speaks <span
          class="aqua">about me</span
        >. This is when I'm the most
        <span class="orange">happy</span>: in my little house, plants and my <span
          class="red">Italian style</span
        > making do.
      </p>
      <p>Other few details about me.</p>
      <p>
        1) Yes, you saw right, I don't need a mouse, because <span
          class="yellow">I use neovim btw</span
        >.<br />
        2) I hate to use external libraries: you will see me mantain <span
          class="orange">in-house libraries</span
        > for all those little things. For this, I love to develop internal tools
        or DX related software.<br />
        3) I'm a young <span class="aqua">Cypherpunk</span> studying the game, I
        write about the culture and develop P2P OSS resilient software!
      </p>
      <div class="logos">
        <Icon name="datadog" />
        <Icon name="neovim" />
        <Icon name="rust" />
        <Icon name="argo" />
      </div>
    </div>
  </div>
  <p class="decorator" slot="after">&#125</p>
</ContentLayout>

<style>
  .text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .text-right {
    margin-right: 2.5%;
  }
  .text-left {
    margin-left: 2.5%;
  }

  .text p {
    margin-bottom: 5%;
    font-size: 20px;
  }

  .img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
  }

  .img img {
    width: 100%;
    border-radius: var(--b-radius);
  }

  .logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [astro-icon] {
    width: 3rem;
    margin: 0 2%;
  }

  .decorator {
    font-size: var(--f-l);
    margin: 2% 0;
    user-select: none;
    opacity: 0.5;
    font-style: italic;
  }

  .middle {
    padding-left: 10%;
    display: flex;
    width: 100%;
    margin-bottom: 1%;
  }

  @media screen and (max-width: 1200px) {
    .middle {
      flex-direction: column;
      padding-left: 5%;
      position: relative;
    }

    .text {
      width: 100%;
      margin: 0;
      order: 2;
    }

    .img {
      width: 60%;
      align-self: center;
      margin-bottom: 2rem;
      order: 1;
    }

    .text-right {
      margin-right: 0;
    }
    
    .text-left {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .text p {
      font-size: 18px;
    }

    .img {
      width: 80%;
    }

    [astro-icon] {
      width: 2.5rem;
      margin: 0 1%;
    }

    .logos {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 500px) {
    .middle {
      padding-left: 0;
    }

    .text p {
      font-size: 16px;
      margin-bottom: 1rem;
    }

    .img {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    .decorator {
      font-size: var(--f-m);
      text-align: center;
    }

    [astro-icon] {
      width: 2rem;
    }
  }
</style>

