---
import ContentLayout from "../../layouts/ContentLayout.astro";
interface Props {
  linkName: string;
}
const { linkName } = Astro.props as Props;
---
<ContentLayout>
  <p id={linkName} class="decorator" slot="before">const ABOUT = (person: problems[ ]) =&gt &#123</p>
  <div class="middle" slot="middle">
    <div class="text">
      <p>
        <span class="orange">Hi there, nice to meet you!</span> Welcome to my IDE, this is what I see for 15 hours a
        day: <span class="yellow">PURE GRUV</span>.
      </p>
      <p>
        I hold a Master Degree in <span class="aqua">Digital Health Psychology</span> and I'm a <span
          class="red">full-stack developer</span>, with solid experience in <span class="yellow">Artificial
        Intelligence</span> and academic research: my focus so far was the creation of digital services in which to bring
        these areas together in innovative solutions.
      </p>
      <p>These are some of the latest tech I've worked with: uselessly <span class="aqua">k8-microservicing</span>
        for no good reason and <span class="purple">TS</span> backend <span class="purple">alternatives</span>.</p>
      <ul class="tech-grid">
        <li>NextJS</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>AWS</li>
        <li>Gin</li>
        <li>Go Kit</li>
        <li>tRPC</li>
        <li>Actix</li>
      </ul>
    </div>
    <div class="img">
      <img alt="profile picture" src="/images/foto_lore.jpeg" />
    </div>
  </div>
  <p class="decorator" slot="after">&#125</p>
</ContentLayout>

<style>
  .text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
  }

  .text p {
    margin-bottom: 5%;
    font-size: 20px;
  }

  .img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
  }

  .img img {
    width: 100%;
    border-radius: var(--b-radius);
  }

  .tech-grid {
    width: 100%;
    display: grid;
    padding: 0 10%;
    grid-template-columns: auto auto auto auto;
  }

  .tech-grid li {
    font-size: 20px;
  }

  .decorator {
    font-size: var(--f-l);
    margin: 2% 0;
    user-select: none;
    opacity: 0.5;
    font-style: italic;
  }

  .middle {
    padding-left: 10%;
    display: flex;
    width: 100%;
  }

  @media screen and (max-width: 1600px) {
    .text {
      width: 80%;
    }

    .img {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 40%;
      position: absolute;
      top: 2.5%;
      left: 20%;
    }

    .img img {
      width: 100%;
      border-radius: var(--b-radius);
    }

    .middle {
      padding-top: 37.5%;
      padding-left: 5%;
      flex-direction: column;
      position: relative;
    }
  }
</style>
