---
import ContentLayout from "../../layouts/ContentLayout.astro";
import { Icon } from "astro-icon";
interface Props {
  linkName: string;
}
const { linkName } = Astro.props as Props;
---

<ContentLayout>
  <p id={linkName} class="decorator" slot="before">class CONTACT &#123</p>
  <div class="middle" slot="middle">
    <h2 class="touch">Get in touch</h2>
    <p class="salute">
      Currently employed <a
        href="https://ok.dk"
        target="_blank"
        rel="noopener noreferrer"><span class="aqua">@OK</span></a
      >, but I enjoy coding more than everything else, so if you have an idea
      please contact me through the channels below. I'm always down for some
      trickyaibullshitweb3app.
    </p>
    <section class="contacts">
      <a
        href="https://github.com/elel-dev"
        target="_blank"
        rel="noopener noreferrer"
        class="contact"
      >
        <Icon name="github" />
        <h3>elel-dev</h3>
      </a>
      <a href="mailto:elel.develop@gmail.com" class="contact">
        <Icon name="email" />
        <h3>elel.develop@gmail.com</h3>
      </a>
      <a href="mailto:lorenzo@shape.dk" class="contact">
        <Icon name="email" />
        <h3>lorenzo@shape.dk</h3>
      </a>
    </section>
  </div>
  <p class="decorator" slot="after">&#125</p>
</ContentLayout>

<style>
  .decorator {
    font-size: var(--f-l);
    margin: 2% 0;
    user-select: none;
    opacity: 0.5;
    font-style: italic;
  }

  .middle {
    padding-left: 10%;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .touch {
    font-size: var(--f-xl);
    color: var(--clr-gruv-orange);
  }

  .salute {
    padding: 2.5%;
    background-color: var(--clr-gruv-bg-dark);
    text-align: center;
    margin: 2.5% 0;
    font-size: var(--f-s);
  }

  .contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    width: 60%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    padding: 1%;
    border: 1px solid var(--clr-gruv-bg);
  }

  .contact:hover {
    border: 1px solid var(--clr-gruv-gray);
    border-radius: var(--b-radius);
    cursor: pointer;
  }

  .contact [astro-icon] {
    height: var(--icon-s);
    width: var(--icon-s);
    margin: 0 5%;
    transition: --transition-f;
  }

  .contact h3 {
    font-size: var(--f-xs);
  }

  .contact:hover [astro-icon] {
    transform: scale(1.1);
  }

  .contact:hover [astro-icon="github"] {
    color: var(--clr-gruv-orange);
  }

  .contact:hover [astro-icon="email"] {
    color: var(--clr-gruv-green);
  }

  .contact:hover:last-of-type [astro-icon="email"] {
    color: var(--clr-gruv-yellow);
  }

  @media screen and (max-width: 1300px) {
    .contact {
      width: 100%;
    }

    .salute {
      padding: 5%;
      margin: 5% 0;
    }
  }
</style>
