---
import ContentLayout from "../../layouts/ContentLayout.astro";
interface Props {
  linkName: string;
}
const { linkName } = Astro.props as Props;
---

<ContentLayout>
  <p id={linkName} class="decorator" slot="before">fn main() &#123</p>
  <div class="middle" slot="middle">
    <p class="salute aqua">Hi, my name is</p>
    <h2 class="name">
      <span class="orange">Lorenzo</span><span class="orange"> Larghi</span>
    </h2>
    <h3 class="welcome">
      Welcome to my IDE (<span class="green">neovim</span>, btw)
    </h3>
    <p class="bio">
      I'm a software engineer with 4+ years of experience in backend
      development, slowly moving to Cloud Architect. I've some experience in
      Artificial Intelligence and I've also enjoyed the Web3 ride.
    </p>
    <p class="excuse">
      Yes, this is not very pretty. <br /> Yes, I don't have Linkedin. <br
      />Please, just
    </p>
    <a
      href="https://github.com/elel-dev"
      target="_blank"
      rel="noopener noreferrer"
      class="primary-orange-btn"
    >
      see what I do
    </a>
  </div>
  <p class="decorator" slot="after">&#125</p>
</ContentLayout>

<style>
  .salute {
    font-size: clamp(var(--f-s), 5vw, var(--f-m));
  }

  .name {
    margin: 1% 0;
    font-size: clamp(30px, 7vw, 70px);
    font-weight: bold;
    position: relative;
  }

  [astro-icon="italy"] {
    width: var(--icon-s);
    height: var(--icon-s);
    position: absolute;
    top: 10%;
    right: 57.5%;
  }

  .welcome {
    font-size: clamp(30px, 5vw, 50px);
  }

  .bio {
    width: 80%;
    margin: 1% 0;
    font-size: 20px;
    text-align: justify;
  }

  .excuse {
    width: 80%;
    margin-bottom: 3%;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
  }

  .decorator {
    font-size: var(--f-l);
    margin: 2% 0;
    user-select: none;
    opacity: 0.5;
    font-style: italic;
  }

  .middle {
    padding-left: 10%;
  }

  @media screen and (max-width: 1000px) {
    .bio {
      width: 75%;
      margin: 5% 0;
      font-size: 20px;
    }

    .middle {
      padding-left: 5%;
    }
  }

  @media screen and (max-width: 1000px) {
    .bio {
      width: 100%;
      margin-bottom: 20%;
    }
  }
  @media screen and (max-width: 500px) {
    .bio {
      margin-bottom: 10%;
    }
  }
</style>
