---
import { Icon } from "astro-icon/components";
---
<nav>
  <a href="#main" class="question">
    <img src="/images/gruv.jpg" alt="can u gruv?">
  </a>
  <section class="links">
    <a href="#about">
      ABOUT<span class="red">(me)</span>
    </a>
    <a href="#work">
      <span class="green">new </span>WORK<span class="yellow">()</span>
    </a>
    <a href="#projects">
      <span class="green">...[</span>PROJECTS<span class="green">]</span>
    </a>
    <a href="#contact">
      CONTACT<span class="aqua">.call</span>
    </a>
  </section>
  <section class="resume">
    <a href={"/resume.pdf"} download={"resume.pdf"} class="primary-orange-btn">
      resume
    </a>
  </section>
</nav>

<style>
  nav {
    width: var(--navbar-width);
    height: var(--navbar-height);
    margin-left: var(--sidebar-width);
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background-color: var(--clr-gruv-bg);
    z-index: 100;
    border-bottom: var(--layout-border);
  }

  .question {
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: var(--f-xl);
    font-style: italic;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .links a {
    font-size: var(--f-xs);
    padding: 1%;
  }

  .links a span {
    opacity: 0.25;
    font-size: var(--f-xm);
    font-weight: bold;
    font-style: italic;
  }

  .links a:hover span {
    opacity: 0.75;
  }

  @media screen and (max-width: 1650px) {
    nav {
      margin-left: 10vw;
      width: 90vw;
    }
  }

  @media screen and (max-width: 1250px) {
    .question {
      display: none;
    }
  }

  @media screen and (max-width: 1150px) {
    nav {
      margin-left: 115px;
      width: calc(100vw - 115px);
      padding-right: 5%;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
      margin-left: 10vw;
      width: 90vw;
      padding: 0 2%;
    }

    .links a {
      font-size: var(--f-xs);
      padding: 0.5%;
    }
  }

  @media screen and (max-width: 500px) {
    nav {
      margin-left: 0;
      width: 100vw;
      border-bottom: none;
      padding: 0 1rem;
      justify-content: center;
    }

    .question {
      display: none;
    }

    .resume {
      display: none;
    }

    .links {
      justify-content: center;
      gap: 1rem;
    }

    .links a {
      font-size: var(--f-xs);
      padding: 0.5rem;
    }

    .links a span {
      display: none;
    }
  }
</style>
