---
// import Theme from "../Theme/Theme";
import Theme from "../UI/Theme.astro";

//styles
import "../../styles/navbar.css";
---
<nav>
  <Theme />
  <section class="links">
    <a>MENU</a>
    <a>ABOUT</a>
    <a>EXPERIENCE</a>
    <a>WORK</a>
    <a>CONTACT</a>
  </section>
  <section>
    <button>resume</button>
  </section>
</nav>
