---
//styles
import "../../styles/navbar.css";
import "../../styles/btns.css";
---
<nav>
  <p class="question">can u gruvv?</p>
  <section class="links">
    <a href="#">
      ABOUT<span class="red">(me)</span>
    </a>
    <a href="#">
      <span class="green">...[</span>EXPERIENCE<span class="green">]</span>
    </a>
    <a href="#">
      <span class="green">new </span>WORK<span class="yellow">()</span>
    </a>
    <a href="#">
      ABOUT<span class="aqua">.call</span>
    </a>
  </section>
  <section class="resume">
    <a href="#" class="primary-orange-btn">
      resume
    </a>
  </section>
</nav>
