---
import Icon from "astro-icon";

import "../../styles/sidebar.css";

import Title from "../Title/Title";
---
<aside class="sidebar">
  <Title />
  <section class="contacts">
    <a href="#" class="contact">
      <Icon name="github" />
      <h2>elel-dev</h2>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>elel.develop@gmail.com</h3>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>lorenzo.larghi@unifi.it</h3>
    </a>
  </section>
  <section class="social">
    <p>stuff</p>
    <a href="#">
      <Icon name="medium" />
    </a>
    <a href="#">
      <Icon name="bolt" />
    </a>
    <a href="#">
      <Icon name="repo" />
    </a>
    <a href="#">
      <Icon name="neovim" />
    </a>
  </section>
  <section class="copyright">
    <a href="#">
      <Icon name="fork" />
      <p>fork an awesome GRUVEE template</p>
    </a>
  </section>
</aside>
