---
import Icon from "astro-icon";
import Title from "../UI/Title/Title";
---
<aside class="sidebar">
  <Title />
  <section class="contacts">
    <a href="https://github.com/elel-dev" target="_blank" rel="noopener noreferrer" class="contact">
      <Icon name="github" />
      <h2>elel-dev</h2>
    </a>
    <a href="mailto:elel.develop@gmail.com" class="contact">
      <Icon name="email" />
      <h3>elel.develop@gmail.com</h3>
    </a>
    <a href="mailto:lorenzo.larghi@unifi.it" class="contact">
      <Icon name="email" />
      <h3>lorenzo.larghi@unifi.it</h3>
    </a>
  </section>
  <section class="social">
    <p>stuff</p>
    <a href="https://medium.com/@elel.develop" target="_blank" rel="noopener noreferrer">
      <Icon name="medium" />
    </a>
    <a href="/blog">
      <Icon name="bolt" />
    </a>
    <a href="https://github.com/elel-dev/gruv-portfolio-template" target="_blank" rel="noopener noreferrer">
      <Icon name="repo" />
    </a>
    <a href="https://github.com/elel-dev/neovim-config" target="_blank" rel="noopener noreferrer">
      <Icon name="neovim" />
    </a>
  </section>
</aside>

<style>
  /*
*  =======
*  SIDEBAR
*  =======
*/

  .sidebar {
    position: fixed;
    width: var(--sidebar-width);
    min-width: 115px;
    height: var(--sidebar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: var(--layout-border);
  }

  /*
*  ========
*  CONTACTS
*  ========
*/

  .contacts {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    width: 90%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    padding: 1.5%;
    border: 1px solid var(--clr-gruv-bg);
  }

  .contact:hover {
    border: 1px solid var(--clr-gruv-gray);
    border-radius: var(--b-radius);
    cursor: pointer;
  }

  .contact [astro-icon] {
    height: var(--icon-s);
    width: var(--icon-s);
    margin-right: 5%;
    transition: --transition-f;
  }

  .contact h3 {
    font-size: var(--f-xs);
  }

  .contact:hover [astro-icon] {
    transform: scale(1.1);
  }

  .contact:hover [astro-icon="github"] {
    color: var(--clr-gruv-orange);
  }

  .contact:hover [astro-icon="email"] {
    color: var(--clr-gruv-green);
  }

  .contact:hover:last-of-type [astro-icon="email"] {
    color: var(--clr-gruv-yellow);
  }

  /*
*  =======
*  SOCIAL
*  =======
*/

  .social {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 10%;
  }

  .social a {
    border-radius: 50%;
    width: var(--icon-s);
    height: var(--icon-s);
  }

  .social p {
    user-select: none;
  }

  .social a:hover {
    transform: scale(1.1);
  }

  .social a [astro-icon] {
    transition: --transition-f;
  }

  .social a:hover [astro-icon="medium"] {
    color: var(--clr-gruv-orange);
  }

  .social a:hover [astro-icon="bolt"] {
    color: var(--clr-gruv-green);
  }

  .social a:hover [astro-icon="repo"] {
    color: var(--clr-gruv-yellow);
  }

  .social a:hover [astro-icon="neovim"] {
    color: var(--clr-gruv-aqua);
  }

  @media screen and (max-width: 1650px) {
    .sidebar {
      width: 10vw;
    }

    .contact h3,
    .contact h2 {
      display: none;
    }

    .contact {
      width: 100%;
      justify-content: center;
      padding: 0;
      border: none;
      margin: 10% 0;
    }

    .contact:hover {
      border: none;
    }

    .contact [astro-icon] {
      margin: 0;
    }

    .social {
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 400px){
    .sidebar {
      width: 25vw;
      min-width: unset;
    }
    .contact:nth-child(3) {
      display: none;
    }
  }
</style>
