---
import Icon from "astro-icon";
import Title from "../Title/Title";
---
<aside class="sidebar">
  <Title />
  <section class="contacts">
    <a href="#" class="contact">
      <Icon name="github" />
      <h2>elel-dev</h2>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>elel.develop@gmail.com</h3>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>lorenzo.larghi@unifi.it</h3>
    </a>
  </section>
  <section class="social">
    <p>stuff</p>
    <a href="#">
      <Icon name="medium" />
    </a>
    <a href="#">
      <Icon name="bolt" />
    </a>
    <a href="#">
      <Icon name="repo" />
    </a>
    <a href="#">
      <Icon name="neovim" />
    </a>
  </section>
</aside>

<style>
  /*
*  =======
*  SIDEBAR
*  =======
*/

  .sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: var(--sidebar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: var(--layout-border);
  }

  /*
*  ========
*  CONTACTS
*  ========
*/

  .contacts {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact {
    width: 90%;
    margin: 2% 0;
    display: flex;
    align-items: center;
    padding: 1%;
    border: 1px solid var(--clr-gruv-bg);
  }

  .contact:hover {
    border: 1px solid var(--clr-gruv-gray);
    border-radius: var(--b-radius);
    cursor: pointer;
  }

  .contact [astro-icon] {
    height: var(--icon-s);
    width: var(--icon-s);
    margin: 0 5%;
    transition: --transition-f;
  }

  .contact h3 {
    font-size: var(--f-xs);
  }

  .contact:hover [astro-icon] {
    transform: scale(1.1);
  }

  .contact:hover [astro-icon="github"] {
    color: var(--clr-gruv-orange);
  }

  .contact:hover [astro-icon="email"] {
    color: var(--clr-gruv-green);
  }

  .contact:hover:last-of-type [astro-icon="email"] {
    color: var(--clr-gruv-yellow);
  }

  /*
*  =======
*  SOCIAL
*  =======
*/

  .social {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 10%;
  }

  .social a {
    border-radius: 50%;
    width: var(--icon-s);
    height: var(--icon-s);
  }

  .social p {
    user-select: none;
  }

  .social a:hover {
    transform: scale(1.1);
  }

  .social a [astro-icon] {
    transition: --transition-f;
  }

  .social a:hover [astro-icon="medium"] {
    color: var(--clr-gruv-orange);
  }

  .social a:hover [astro-icon="bolt"] {
    color: var(--clr-gruv-green);
  }

  .social a:hover [astro-icon="repo"] {
    color: var(--clr-gruv-yellow);
  }

  .social a:hover [astro-icon="neovim"] {
    color: var(--clr-gruv-aqua);
  }
</style>
