---
import Icon from "astro-icon";

import "../../styles/sidebar.css";

import Title from "../Title/Title";
---
<aside class="sidebar">
  <Title />
  <section class="contacts">
    <a href="#" class="contact">
      <Icon name="github" />
      <h3>elel-dev</h3>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>elel.develop@gmail.com</h3>
    </a>
    <a href="#" class="contact">
      <Icon name="email" />
      <h3>lorenzo.larghi@unifi.it</h3>
    </a>
  </section>
  <section class="social">
    <h1>LINK</h1>
    <h1>LINK</h1>
    <h1>LINK</h1>
    <h1>LINK</h1>
  </section>
</aside>
