---
import Title from "../UI/Title/Title";
---

<aside class="sidebar">
  <Title />
  <section class="filestree">
    <div class="treeImgDiv">
      <img src="/images/filestree.jpg" alt="portfolio_filestree_image" />
    </div>
  </section>
  <section class="social">
    <p>(a)social</p>
    <a
      href="https://github.com/elel-dev"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link github"
    >
      <svg
        viewBox="0 0 24 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 2C6.477 2 2 6.477 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0012 2z"
        ></path>
      </svg>
    </a>
    <a
      href="https://hachyderm.io/@elel_dev"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link mastodon"
    >
      <svg
        viewBox="0 0 24 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.271-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.579 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1-.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081V9.057c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069V9.364c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.546-1.357 1.62v5.099H6.026V8.903c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558v5.253z"
        ></path>
      </svg>
    </a>
    <a
      href="https://mirror.xyz/0x88f1fD4624d81dfD223f305a30e51Ca51229c2D1"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link mirror"
    >
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 3L4 9V21H20V9L12 3Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 3V21"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
    </a>
    <a
      href="https://dev.to/elel-dev"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link dev"
    >
      <svg
        viewBox="0 0 448 512"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M120.12 208.29c-3.88-2.9-7.77-4.35-11.65-4.35H91.03v104.47h17.45c3.88 0 7.77-1.45 11.65-4.35 3.88-2.9 5.82-7.25 5.82-13.06v-69.65c-.01-5.8-1.96-10.16-5.83-13.06zM404.1 32H43.9C19.7 32 .06 51.59 0 75.8v360.4C.06 460.41 19.7 480 43.9 480h360.2c24.21 0 43.84-19.59 43.84-43.8V75.8c-.06-24.21-19.7-43.8-43.9-43.8zM154.2 291.19c0 18.81-11.61 47.31-48.36 47.25h-46.4V172.98h47.38c35.44 0 47.36 28.46 47.37 47.28l.01 70.93zm100.68-88.66H201.6v38.42h32.57v29.57H201.6v38.41h53.29v29.57h-62.18c-11.16.29-20.44-8.53-20.72-19.69V193.7c-.27-11.15 8.56-20.41 19.71-20.69h63.19l-.01 29.52zm103.64 115.29c-13.2 30.75-36.85 24.63-47.44 0l-38.53-144.8h32.57l29.71 113.72 29.57-113.72h32.58l-38.46 144.8z"
        ></path>
      </svg>
    </a>
  </section>
</aside>

<style>
  /*
*  =======
*  SIDEBAR
*  =======
*/

  .sidebar {
    position: fixed;
    width: var(--sidebar-width);
    min-width: 115px;
    height: var(--sidebar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: var(--layout-border);
  }

  /*
*  ========
*  FILESTREE
*  ========
*/

  .filestree {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  .treeImgDiv {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .treeImgDiv img {
    width: 100%;
    height: 100%;
  }

  /*
*  =======
*  SOCIAL
*  =======
*/

  .social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 0.25rem;
  }

  .social p {
    user-select: none;
    font-size: 0.8rem;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: calc(var(--icon-s) * 0.7);
    height: calc(var(--icon-s) * 0.7);
    transition: transform 0.2s ease-in-out;
  }

  .social-link:hover {
    transform: scale(1.1);
  }

  .social-link svg {
    width: 18px;
    height: 18px;
    transition: color 0.2s ease-in-out;
  }

  .social-link.github:hover svg {
    color: var(--clr-gruv-green);
  }

  .social-link.mastodon:hover svg {
    color: var(--clr-gruv-purple);
  }

  .social-link.mirror:hover svg {
    color: var(--clr-gruv-orange);
  }

  .social-link.dev:hover svg {
    color: var(--clr-gruv-aqua);
  }

  @media screen and (max-width: 1650px) {
    .sidebar {
      width: 10vw;
    }
  }

  @media screen and (max-width: 1150px) {
    .sidebar {
      width: 115px;
    }
  }

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 10vw;
    }

    .social {
      flex-direction: column;
      padding: 0.5rem;
      gap: 0.5rem;
    }

    .social p {
      font-size: 0.7rem;
    }

    .social-link {
      width: calc(var(--icon-s) * 0.6);
      height: calc(var(--icon-s) * 0.6);
    }

    .social-link svg {
      width: 16px;
      height: 16px;
    }
  }

  @media screen and (max-width: 500px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 10vh;
      border-right: none;
      border-bottom: var(--layout-border);
      z-index: 10000;
      flex-direction: row;
      justify-content: center;
    }
    
    .social {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 0.5rem;
    }
    
    .social p {
      display: none;
    }
    
    .filestree {
      display: none;
    }

    .social-link svg {
      width: 20px;
      height: 20px;
    }
  }
</style>
