.red {
  color: var(--clr-gruv-red);
}
.orange {
  color: var(--clr-gruv-orange);
}
.green {
  color: var(--clr-gruv-green);
}
.yellow {
  color: var(--clr-gruv-yellow);
}
.blue {
  color: var(--clr-gruv-blue);
}
.purple {
  color: var(--clr-gruv-purple);
}
.aqua {
  color: var(--clr-gruv-aqua);
}

@media screen and (max-width: 500px) {
  .gruvText {
    font-size: var(--f-ll);
    padding-left: 7.5%;
  }
}
