---
import MainHead from "../components/MainHead.astro";
const title = "ELEL - DEVELOPER";
const description = "Description for elel-developer homepage";
---
<html lang="en">

<head>
  <MainHead title={title} description={description} />
</head>

<body>
  <h1>ELEL</h1>
</body>

</html>
