---
//astro
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="ELEL" description="index page">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsa sequi assumenda, aliquam iure repellat
      officiis, consequatur officia, facilis eos placeat ea quo distinctio asperiores fugit sed tempore ipsam pariatur?
    </p>
  </div>
</BaseLayout>
