---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar/Navbar";
import Title from "../components/Title/Title";

import "../styles/sidebar.css";
---
<BaseLayout>
  <aside class="sidebar">
    <Title />
    <section class="contacts">
      <div>
        <h3>elel-dev</h3>
      </div>
      <div>
        <h3>elel.develop@gmail.com</h3>
      </div>
      <div>
        <h3>lorenzo.larghi@unifi.it</h3>
      </div>
    </section>
    <section class="social">
      <h1>LINK</h1>
      <h1>LINK</h1>
      <h1>LINK</h1>
      <h1>LINK</h1>
    </section>
  </aside>
  <Navbar />
</BaseLayout>
