.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 1350px) {
  .works {
    padding-left: 15%;
  }
}

@media screen and (max-width: 1000px) {
  .works {
    padding-left: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .works {
    padding-left: 0;
  }
}
