---
import MainHead from "../components/Layout/MainHead.astro";
import Sidebar from "../components/Layout/Sidebar.astro";
import Navbar from "../components/Layout/Navbar.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props as Props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Sidebar />
    <Navbar />
    <main class="main">
      <slot />
    </main>
  </body>  <style>
    .main {
      width: var(--navbar-width);
      margin-left: var(--sidebar-width);
      padding: 5%;
      padding-top: 15vh;
    }

    @media screen and (max-width: 1650px) {
      .main {
        width: 90vw;
        margin-left: 10vw;
      }
    }

    @media screen and (max-width: 1150px) {
      .main {
        width: calc(100vw - 115px);
        margin-left: 115px;
        padding: 3%;
      }
    }

    @media screen and (max-width: 768px) {
      .main {
        width: calc(100vw - 10vw);
        margin-left: 10vw;
        padding: 2%;
      }
    }

    @media screen and (max-width: 500px) {
      .main {
        width: 100vw;
        margin-left: 0;
        padding: 1rem;
        padding-top: 12vh;
      }
    }
  </style>
</html>
