---
import MainHead from "../components/Layout/MainHead.astro";
import Sidebar from "../components/Layout/Sidebar.astro";
import Navbar from "../components/Layout/Navbar.astro";
interface Props {
  title: string;
  description: string;
}
const {
  title,
  description
} = Astro.props as Props;
---
<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Sidebar />
    <Navbar />
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style>
  .main {
    width: var(--navbar-width);
    margin-left: var(--sidebar-width);
    padding: 5%;
    padding-top: 15vh;
  }
</style>
