---
//
---
<section class="content-section">
  <slot name="before" />
  <slot name="middle" />
  <slot name="after" />
</section>

<style>
  .content-section {
    padding: 2.5% 5%;
    margin: 2.5%;
    width: 100%;
    margin-bottom: 10%;
  }
</style>
