---
import {Icon} from "astro-icon";
//styles
import "../../styles/theme.css";
---
<div class="wrapper">
  <Icon name="darkmode"/>
  <div class="switcher">
    <span class="tooltiptext">...</span>
    <div class="circle"></div>
  </div>
  <Icon name="lightmode"/>
</div>
